# Core functionality - changes here should be rare!
/src/app.py                   @jeanCarlo09
/src/backend/database.py      @jeanCarlo09
/src/backend/routers/auth.py  @jeanCarlo09

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jeanCarlo09
